.instagram {
  .wrapper {
    display: grid;
    gap: 3rem;
    justify-content: center;
    align-items: center;
  }
  h1 {
    font-size: 3.5rem;
  }

  .images {
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
    img {
      max-width: 20rem;
      width: 100%;
    }
  }
}
