/*---------------------------------------------------- 
Map Section
----------------------------------------------------*/
.map {
  display: grid;
  gap: 3rem;
  z-index: 0;

  .content {
    width: 100%;
    display: grid;
    gap: 4rem;
    justify-content: center;
    align-items: center;
  }

  .all-anchor {
    position: relative;
    top: -85px;
  }
  .country-info {
    display: grid;
    gap: 1.5rem;
  }
  .country {
    display: grid;
    gap: 0.5rem;
    h3 {
      font-size: 1.7rem;
      font-weight: bold;
    }
  }
}

#map {
  height: 300px;
  width: 100%;
  max-width: 80rem;
}
.info {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
.info h4 {
  margin: 0 0 5px;
  color: #777;
}
.legend {
  text-align: left;
  line-height: 18px;
  color: #555;
}
.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}

@media (min-width: 400px) {
  .map {
    .content {
    }
  }
}
@media (min-width: 640px) {
  .map {
    .content {
    }
  }

  #map {
    height: 380px;
  }

  .all-anchor {
    top: -100px;
  }
}
@media (min-width: 768px) {
  .map {
    .content {
    }
  }

  #map {
    height: 450px;
  }

  .all-anchor {
    top: -120px;
  }
}

@media (min-width: 1280px) {
  .map {
    .content {
    }
  }

  #map {
    height: 600px;
  }
}
